<?xml version="1.0" encoding="UTF-8"?>
<entity name="Menu" modelName="Johnny.EEE.OM.Admin.Menu" namespaceBLL="Johnny.EEE.BLL.Admin" namespaceDAL="Johnny.EEE.DAL.Admin" namespaceModel="Johnny.EEE.OM.Admin" author="JoJoStudio\Johnny" createdDateTime="2016-01-23T21:51:07" schema="dbo" tableName="cms_menu" description="cms_menu">
  <primaryKey>
    <column columnName="MenuId" lowerName="menuid" sqlParameter="SqlDbType.Int,4" />
  </primaryKey>
  <columns>
    <property sequence="1" columnName="MenuId" dataType="int" columnLength="4" precisionLength="10" scale="0" defaultValue=" " columnDescription="Menu Id" isIdentity="True" isPrimaryKey="True" isNullable="False" lowerName="menuid" field="_menuid" sqlParameter="SqlDbType.Int,4" csharptype="int" getMethod="GetInt32" pattern="No" initialValue="0" />
    <property sequence="2" columnName="MenuName" dataType="nvarchar" columnLength="100" precisionLength="50" scale="0" defaultValue=" " columnDescription="Menu Name" isIdentity="False" isPrimaryKey="False" isNullable="False" lowerName="menuname" field="_menuname" sqlParameter="SqlDbType.NVarChar,50" csharptype="string" getMethod="GetString" pattern="Yes" initialValue="&quot;&quot;" />
    <property sequence="3" columnName="MenuCategoryId" dataType="int" columnLength="4" precisionLength="10" scale="0" defaultValue=" " columnDescription="Menu Category" isIdentity="False" isPrimaryKey="False" isNullable="False" lowerName="menucategoryid" field="_menucategoryid" sqlParameter="SqlDbType.Int,4" csharptype="int" getMethod="GetInt32" pattern="No" initialValue="0" />
    <property sequence="4" columnName="PageLink" dataType="varchar" columnLength="100" precisionLength="100" scale="0" defaultValue=" " columnDescription="Page Link" isIdentity="False" isPrimaryKey="False" isNullable="False" lowerName="pagelink" field="_pagelink" sqlParameter="SqlDbType.VarChar,100" csharptype="string" getMethod="GetString" pattern="Yes" initialValue="&quot;&quot;" />
    <property sequence="5" columnName="ToolTip" dataType="nvarchar" columnLength="200" precisionLength="100" scale="0" defaultValue=" " columnDescription="ToolTip" isIdentity="False" isPrimaryKey="False" isNullable="True" lowerName="tooltip" field="_tooltip" sqlParameter="SqlDbType.NVarChar,100" csharptype="string" getMethod="GetString" pattern="Yes" initialValue="&quot;&quot;" />
    <property sequence="6" columnName="Image" dataType="varchar" columnLength="200" precisionLength="200" scale="0" defaultValue=" " columnDescription="Image" isIdentity="False" isPrimaryKey="False" isNullable="True" lowerName="image" field="_image" sqlParameter="SqlDbType.VarChar,200" csharptype="string" getMethod="GetString" pattern="Yes" initialValue="&quot;&quot;" />
    <property sequence="7" columnName="PermissionId" dataType="int" columnLength="4" precisionLength="10" scale="0" defaultValue=" " columnDescription="Permission" isIdentity="False" isPrimaryKey="False" isNullable="False" lowerName="permissionid" field="_permissionid" sqlParameter="SqlDbType.Int,4" csharptype="int" getMethod="GetInt32" pattern="No" initialValue="0" />
    <property sequence="8" columnName="IsDisplay" dataType="bit" columnLength="1" precisionLength="1" scale="0" defaultValue=" " columnDescription="Display in the Menu" isIdentity="False" isPrimaryKey="False" isNullable="False" lowerName="isdisplay" field="_isdisplay" sqlParameter="SqlDbType.Bit" csharptype="bool" getMethod="GetBoolean" pattern="Boolean" initialValue="false" />
    <property sequence="9" columnName="Sequence" dataType="int" columnLength="4" precisionLength="10" scale="0" defaultValue=" " columnDescription="Sequence" isIdentity="False" isPrimaryKey="False" isNullable="False" lowerName="sequence" field="_sequence" sqlParameter="SqlDbType.Int,4" csharptype="int" getMethod="GetInt32" pattern="No" initialValue="0" />
  </columns>
</entity>